<header
  class="container-outer"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxHide.lt-sm
  fxShow.lt-xl
>
  <div class="container" fxFlex="20">
    <div class="container-inner">
      <a [routerLink]="['']" routerLinkActive="router-link-active">Home</a>
    </div>
  </div>
  <div class="container" fxFlex="80">
    <div class="container-inner">DESKTOP HEADER</div>
  </div>
  <div class="container" fxFlex="20">
    <div class="container-inner">
      <a [routerLink]="['/row-examples']" routerLinkActive="router-link-active"
        >Examples</a
      >
    </div>
  </div>
</header>

<header
  class="container-outer"
  fxLayout="column"
  fxLayoutAlign="center stretch"
  fxShow.lt-sm
  fxHide.lt-xl
>
  <div class="container">
    <div class="container-inner">
      <a [routerLink]="['']" routerLinkActive="router-link-active">Home</a>
    </div>
  </div>
  <div class="container">
    <div class="container-inner">
      <a [routerLink]="['/row-examples']" routerLinkActive="router-link-active"
        >Examples</a
      >
    </div>
  </div>
  <div class="container">
    <div class="container-inner">CELLPHONE HEADER</div>
  </div>
</header>
