/* You can add global styles to this file, and also import other style files */

body,
html {
  margin: 0;
  padding: 0;
}

.content {
  height: 800px;
  background-color: #eee;
}
.container-outer {
  border: 3px solid #ffc300;
}
.container {
  border: 3px solid #900c3f;
  padding: 10px;
}
.container-inner {
  border: 3px solid #ff5733;
  padding: 10px;
}
.container-element {
  border: 3px solid #c70039;
  padding: 10px;
}
